extends ./index.jade

block styles
 //- Main Stylesheet
 link(rel="stylesheet" href="../../styles/main.css")

 //- Favicon
 link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')

append header

 .chip
      - var availableLocales = locales.filter(x => x  !== locale && !!lang(x));
      if availableLocales    
        each lc, index in availableLocales
         if lc == "fr"
          a(href=`/${lang(lc).path}`, , class="tooltipped", data-position="right", data-delay="50", data-tooltip="Lire en Français")
           i.material-icons language
         else
          a(href=`/${lang(lc).path}`, , class="tooltipped", data-position="right", data-delay="50", data-tooltip="Read in English")
           i.material-icons language

  .corner-ribbon.top-right.sticky.custom-color.shadow 
    a(href='https://www.dokos.io' target='_blank') DOKOS
    
block content


 .container

   section.row
    .col.s12
     h2.visible= __('staticMain')  
      span#headWords

   section.row#infoPopout
    .col.s12.m10.push-m1
     ul.collapsible.popout: each article in collections[`articles_${locale}`]
      li
        .collapsible-header.center-align
          a(href='/' + article.path): i.material-icons subtitles
          span= article.title
          span.timestamp.right= moment(article.date).format("DD/MM/YYYY")
        .collapsible-body.center-align
          p#articlePreview= article.preview
          a.right-align(href='/' + article.path)#readButton: span=__("Read More...")
      
   section.row#contactRow
    .col.s12
     .fixed-action-btn.waves-effect.waves-light#contactImage
      a(href="#"): img(src="../../images/CH-round.png", alt="Charles-Henri Decultot")

      ul#contactUl
       li: a.btn-floating#aboutButton: i.material-icons person_pin
       li: a.btn-floating#phoneButton: i.material-icons call
       li: a.btn-floating#messageButton: i.material-icons message

   section.row#contactForm
    form.col.s12.card(action="/" method="post")
     .card-content.center-align
      span.card-title= __('contactFormTitle')
      .row
       .input-field.col.s12.m4
        input.validate(placeholder=__("Your Name"), id ="name", name = "name", type="text")
       .input-field.col.s12.m4
        input.validate(placeholder=__("Your Phone Number"), id ="phone", name = "phone", type="tel")
       .input-field.col.s12.m4
        input.validate(placeholder=__("Your Email"), id ="email", name = "email", type="email")
        input(id ="website", name="website", type = "text", value="")
      .row
       .input-field.col.s12
        input.materialize-textarea(placeholder=__("messageText"), name = "textarea", id ="textarea")
     .card-action.center-align
      .row
       .col.s3
        button.btn.waves-effect.waves-light(type="submit", name="action")=__('Submit')

   section.row#phoneNumber
    .col.s12.m6.push-m3.card
     .center-align
      span.card-title=__('Don\'t Hesitate To Call Me')
      .card-content#phoneContent
       i.material-icons phone
       span  +33 (0)6 33 47 58 69

   secion.row#aboutMe
    .col.s12.m8.push-m2.card
     .center-align
      span.card-title=__('aboutMe-title')
      .card-content
       div
        p=__('aboutMe-p1')
        br
       div 
        p=__('aboutMe-p2')
        br
       div
        p=__('aboutMe-p4')
        br
        a.teal-text.text-darken-3(href='https://www.dokos.io' target='_blank')=__('dokos-name')
        br
        br
       .divider
        br
       div
        br
        p=__('aboutMe-p3')
        ul#stackIcons
         li: img(src="../../images/mongodb.png" alt="MongoDB Logo")
         li: img(src="../../images/express-js.png" alt="ExpressJS Logo")
         li: img(src="../../images/AngularJS-Shield-extra-small.png" alt="AngularJS Logo")
         li: img(src="../../images/node-js.png" alt="NodeJS Logo")
         li: img(src="../../images/ubuntu.png" alt="Ubuntu Logo") 
         li: img(src="../../images/python.png" alt="Python Logo")      
         li: img(src="../../images/libre_office.png" alt="Libre Office Logo")
         
block scripts

    //- Malarkey
    script(type="text/javascript" src="../../scripts/malarkey.min.js")
    
    //- Main JS file
    script(type="text/javascript" src="../../scripts/main.js")

